@use '@styles/constants/colors';

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 4px 8px;
  color: colors.$PRIMARY;
  white-space: nowrap;
  background-color: colors.$WHITE;

  &:hover {
    background-color: lighten(colors.$PRIMARY, 10%);
  }

  &:active {
    background-color: darken(colors.$PRIMARY, 10%);
  }
}

.white {
  color: colors.$ACCENTS4;
  border: 1px solid colors.$ACCENTS2;
  background-color: colors.$WHITE;
  &:hover {
    background-color: colors.$ACCENTS1;
  }

  &:active {
    background-color: colors.$ACCENTS2;
  }
}

.black {
  color: colors.$WHITE;
  background-color: colors.$BLACK;
  &:hover {
    background-color: colors.$ACCENTS7;
  }

  &:active {
    background-color: colors.$ACCENTS8;
  }
}
