@use '@/styles/constants/colors';
@use '@/styles/constants/levels';

.modalWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: levels.$MODAL;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.35);
}
