// Global styles
@import './base/reset';
@import './base/more';
@import './base/font';

html,
body {
  height: 100%;
}

#root {
  min-height: 100%;
}

body,
button,
input,
textarea {
  font-family: 'Spoqa Han Sans Neo', 'Anybody', sans-serif;
  font-size: 14px;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}
h3 {
  font-size: 18px;
  font-weight: 500;
}

h4 {
  font-size: 16px;
  font-weight: 500;
}

h5 {
  font-size: 14px;
  font-weight: 500;
}
