@use '@/styles/constants/colors';

.postCard_wrapper {
  height: 100%;
  width: 786px;

  @for $i from 1 to 11 {
    @if ($i % 2 == 1) {
      *:nth-child(#{$i}) {
        border: 1px solid colors.$GRAY;
        border-top: none;
      }
    } @else {
      *:nth-child(#{$i}) {
        background-color: colors.$PRIMARY;
        color: colors.$WHITE;
      }
    }
  }
}
