.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.title {
  width: 100%;
  max-width: 875px;
  height: 40px;
  border: 1px solid lightgray;
  border-radius: 10px;
  margin: 0 4px;
  padding: 0 8px;

  &:focus {
    outline: 1px solid lightcyan;
  }
}

.title_input {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  border: 1px solid lightgray;
  background-color: #f7f9fc;
}

.editor {
  display: flex;
  justify-content: center;
  width: 100%;
}
