.form_wrapper {
  width: 100vw;
  margin-top: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  input {
    border: 1px solid lightgray;
    width: 200px;
    height: 2rem;
    border-radius: 8px;
    padding: 2px 4px;
    margin-top: 10px;
  }

  button {
    margin-top: 20px;
    border: 1px solid lightblue;
    width: 80px;
    height: 24px;
    border-radius: 20px;
    color: lightblue;
  }
}
