$WHITE: #ffffff;
$BLACK: #000000;
$BLACK_LIGHT: #212121;

$PRIMARY: #0f96e4;
$PRIMARY_LIGHT: #4ab6f5;
$PRIMARY_DARK: #157dba;

$RED: #f5222d;
$ORANGE: #ff6b18;
$YELLOW: #ffcc00;
$GREEN: #52c41a;
$GREEN2: #107d43;
$GREEN3: #f6ffed;
$TEAL: #1ab9de;
$BLUE: #1890ff;
$DEEP_BLUE: #353c49;
$DEEP_BLUE2: #505867;

$LIGHT_BLUE: #f0f7ff;
$LIGHT_BLUE2: #f8fbff;
$INDIGO: #5856d6;
$PURPLE: #af52de;
$PINK: #ee6d8b;
$PINK2: #ffadd2;
$PINK3: #fff0f6;
$PINK4: #fff1f0;
$PINK5: #ffa39e;
$CORAL: #f36f63;

$OVERLAY: #00000080;

$GRAY: #e8e8e8;
$GRAY_LIGHT: #f6f6f6;
$GRAY_DARK: #d9d9d9;
$GRAY_DARKEN: #9e9e9e;
