.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 4px;
}

.titleInput {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  border: 1px solid lightgray;
  border-radius: 10px;
  background-color: #f7f9fc;
  padding: 0 8px;
  box-sizing: border-box;
  &:focus {
    outline: 1px solid lightcyan;
  }
}

.editor {
  display: flex;
  justify-content: center;
  width: 100%;
}
