@use '@/styles/constants/colors';

.form_wrapper {
  width: 100vw;
  margin-top: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;

  input {
    border: 1px solid lightgray;
    width: 200px;
    height: 2rem;
    border-radius: 8px;
    padding: 2px 4px;
  }

  button {
    border: 1px solid lightblue;
    width: 80px;
    height: 24px;
    border-radius: 20px;
    color: lightblue;
  }
}

.error {
  display: flex;
  align-items: center;
  height: 30px;
  color: colors.$RED;
  visibility: hidden;

  &Visible {
    visibility: visible;
  }
}
